<ion-view title="关于乐途帮">
  <ion-content class="has-header padding">
    <div class="about-logo">
    </div>

    <!-- 活动相关 -->
    <div class="list about">

      <div class="item item-icon-left">
        <i class="icon">官网</i>
        http://www.letubang.com/
      </div>

      <div class="item item-icon-left">
        <i class="icon">邮箱</i>
        service@letubang.com
      </div>

      <div class="item item-icon-left">
        <i class="icon">微信</i>
        @乐途帮
      </div>

      <div class="item item-icon-left">
        <i class="icon">微博</i>
        @乐途帮
      </div>

      <div class="item item-icon-left">
        <i class="icon">QQ</i>
        2892453884
      </div>

      <div class="item item-icon-left">
        <i class="icon">版本</i>
        0.0.2
      </div>

    </div>
  </ion-content>
</ion-view>
