<ion-view title="关于乐途帮">
  <ion-content class="has-header padding">
    <!-- 个人资料 -->
    <!-- <div class="list">

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios7-gear-outline"></i>
        个人资料
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </div> -->

    <!-- 活动相关 -->
    <div class="list about">

      <a class="item item-icon-left" href="#/apply_events">
        <i class="icon ion-wineglass"></i>
        参加的活动
      </a>

      <a class="item item-icon-left" href="#/publish_events">
        <i class="icon ion-happy"></i>
        发布的活动
      </a>

    </div>
  </ion-content>
</ion-view>
