<ion-view title="">

  <ion-content class="has-header">
    <div class="account-header">
      <a href="javascript:void(0)" class="account-logo ion-android-contact icon" ng-click="signin()" ng-if="!isLogin">
        <span>未登录</span>
      </a>
    </div>
    <!-- 个人资料 -->
    <!-- <div class="list">

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios7-gear-outline"></i>
        个人资料
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </div> -->

    <!-- 活动相关 -->
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="javascript:void(0)" ng-click="apply()">
        <i class="icon ion-wineglass"></i>
        参加的活动
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="javascript:void(0)" ng-click="publish()">
        <i class="icon ion-happy"></i>
        发布的活动
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

    </div>

    <!-- other info -->
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="javascript:void(0)"  ng-click="about()">
        <i class="icon ion-ios7-information"></i>关于我们
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <a class="item item-icon-left" href="javascript:void(0)"  ng-click="logout()" ng-if="isLogin">
        <i class="icon ion-log-out"></i>退出登录
      </a>

    </div>
  </ion-content>
</ion-view>
