<ion-view class="main-view">
  <ion-content class="has-header padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">人数</span>
        <input type="text" ng-model="search.number">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">联系人姓名</span>
        <input type="text" ng-model="search.username">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">联系人电话</span>
        <input type="text" ng-model="search.mobile">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">备注</span>
        <textarea ng-model="search.remark"></textarea>
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="confirm()">确认</button>
  </ion-content>
</ion-view>
