<ion-view title="发布的活动" class="main-view">
  <ion-content class="has-header">
    <ion-refresher
        pulling-text="{{refreshText}}"
        on-refresh="getEvents()">
    </ion-refresher>
    <div class="list event-list">
      <div class="item item-thumbnail-left" ng-repeat="event in events">
        <img src="{{event.event.image_url}}">
        <h2>{{event.event.name}}</h2>
        <p>{{event.event.city_name}} {{event.event.start_time|dateFormat}} <em>{{event.price == '0.00' ? '免费' : '&yen;'+event.price}}</em></p>
        <p><a href="#/event/{{event.event_id}}" class="button button-small button-energized">查看活动</a>&nbsp;<a class="button button-small button-calm" href="#/list_people/{{event.event_id}}">报名名单</a></p>
      </div>
      <div ng-if="loaded && !events.length" style="text-align:center;padding:40px 0;font-size:20px;line-height:1.5;">
        没有找到您搜索的结果
      </div>
      <div ng-if="!loaded" style="text-align:center;padding:40px 0;font-size:20px;line-height:1.5;">
        <span class="icon ion-loading-a"></span>
      </div>
  </div>
  </ion-content>
</ion-view>
