/*account*/
.button-qq{background:#fff url("../img/qq.png") no-repeat 18% center;background-size:auto 30px;border-color:#ddd;}
.line{height:1px;font-size:0;border-top:1px solid #f5f5f5;border-bottom:1px solid #ddd;margin:30px 0;}
