/*dash*/
.dash-item{background: #fff;width:45%;text-decoration: none;float: left;margin-right: 5%;margin-bottom: 5%;}
.dash-item img{width: 100%;}
.dash-item h2{font-size:14px;margin:5px 0;font-weight: normal;padding:0 5%;height:35px;overflow: hidden;}
.dash-item p{color:#999;padding:0 5%;}
