/*public*/
.bar-header .logo{
	background: url(../img/logo.png);
	display: inline-block;
	width: 10%;
	height: 100%;
	background-size: contain;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
}
.cloak{display: none;}
.pane{background: #f2f2f2;}

.tabs .tab-item-active{color:#45C7DF;}
.tab-item .icon{font-size:26px;height:29px;}

.bar-header{background: #45C7DF;}

.item-thumbnail-left, .item-thumbnail-left .item-content{min-height:75px;}

.bar-back a{text-decoration: none;font-size:16px;color:#fff;}
.bar-back a span{padding-left: 10px;}


/*list*/
.event-list .item h2{
	font-size:14px;
	white-space:normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.event-list .item em{
	color:#f0ad4e;
	margin-left: 5px;
	font-weight:bold;
}

/*event*/
.event-funcs .tip{display: inline-block;width: 70px;font-size:12px;}
.event-funcs .tip i{display: block;font-size:22px;color:#f0ad4e;}
.event-img{width: 100%;}
.event-con{background: #fff;margin:10px 0;border-top:2px solid #45C7DF;}
.event-con .event-item{border-bottom:1px dotted #ccc;padding:10px;}
.event-con .event-item.last{border-bottom:0;}
.event-con .event-item h1{font-size:22px;}

/*dash*/
.dash-item{background: #fff;width:45%;text-decoration: none;float: left;margin-right: 5%;margin-bottom: 5%;}
.dash-item img{width: 100%;}
.dash-item h2{font-size:14px;margin:5px 0;font-weight: normal;padding:0 5%;height:35px;overflow: hidden;}
.dash-item p{color:#999;padding:0 5%;}
